img {
    width: 250px;
    height: 300px;
    border: ridge white 5px;
    margin-left: 20px;
    margin-right: 20px;
}

body {
     background: url(https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=651&q=80);    
}

h1 {
    text-align: center;
    font-family: "Garamond"; 
    font-size: 45px;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: 'Georgia';
}

.inputName {
       width: 400px;
       height: 20px;
}

.button {
      width: 50px;
      height: 25px;
      font-size: 15px;
}

button:hover {
       background-color: darkgrey;
       color: black;

}

